body{
    font-family: 'Poppins', sans-serif;
}

.gigeo-logo {   
  font-weight: 600;
  font-size: 40px; 
}
.art-logo{
  font-size: 15px;
  
}
.nombre-yuki{
  font-weight: 800;
  font-size: 25px;
}
.seguidores{
  font-weight: 400;
  color: gray;
  font-size: 20px;
}

.videos-populares{
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
}