.yuki-foto{
    width: 80px;
    height: auto;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    border: 0px solid #000000;
}
.seccion-seguidores{
    display: inline-block;
    text-align: center;
    align-items: center;
}

.yuki-mukami{
    margin-top: 20px;
}
