.yuki-foto{
    height: 90px;
    border-radius: 200px;
 
}

.yuki-mukami{
    margin-top: 20px;
}

.foto-seguidores{
    display: flex;
    justify-content: flex-start;
}
@media (min-width: 576px) { 
    
    #primera-fila{
        padding: 0 50px;
    }

 }